<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">dashboard</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> -->
<mat-toolbar color="primary" class="navbar">
  <span>User Management</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h1>Menu</h1>
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
        <li><a routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">User</a></li>
      </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>